<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.suntray.chinapost.map">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->

    <!-- 请求网络 -->

    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <!-- 用于访问GPS定位 -->
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 用于读取手机当前的状态 -->
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
    >

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" >
        <!-- 定位需要的服务 -->
        </service>

        <activity android:name=".ui.activity.sale.PoiKeywordSearchActivity"
                   android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.activity.sale.PoiAroundSearchActivity"
                   android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".ui.activity.sale.PostPoiSearchActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".ui.activity.sale.PostAdInfoActivity"
                android:screenOrientation="portrait">

        </activity>

        <activity
                android:name=".ui.activity.sale.PostAdResorceReservedActivity"
                android:screenOrientation="portrait"></activity>

        <activity
                android:name=".ui.activity.sale.PostAdDownActivity"
                android:screenOrientation="portrait"
        ></activity>

        <activity
                android:name=".ui.activity.sale.PostAdReservedListActivity"
                android:screenOrientation="portrait"
            ></activity>

        <activity
                android:name=".ui.activity.sale.PostAdOneKeyReservedActivity"
                android:screenOrientation="portrait"
                  ></activity>

        <activity android:name=".ui.activity.sale.PostReservedAdResultActivity"
                   android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.TaskListActivity"
                   android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.TaskDetailActivity"
                   android:screenOrientation="portrait"
        ></activity>

        <activity android:name=".ui.activity.proxy.routemap.BusRouteDetailActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.routemap.RideRouteDetailActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.routemap.TruckRouteActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.routemap.WalkRouteActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.routemap.WalkRouteDetailActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.routemap.DriveRouteActivity"
                  android:screenOrientation="portrait"></activity>


        <activity android:name=".ui.activity.proxy.routemap.DriveRouteDetailActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.routemap.RideRouteActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.routemap.RouteActivity"
                  android:screenOrientation="portrait"></activity>

        <activity android:name=".ui.activity.proxy.routemap.RouteDistanceActivity"
                  android:screenOrientation="portrait"></activity>


        <activity android:name=".ui.activity.proxy.navi.SingleRouteCalculateActivity"
                   android:screenOrientation="portrait"
        ></activity>

        <activity android:name=".ui.activity.proxy.navi.WalkRouteCalculateActivity"
                   android:screenOrientation="portrait"></activity>
    </application>
</manifest>
