<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.suntray.chinapost.user">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
      >


        <!--登录界面-->
        <activity
                android:name=".ui.activity.MineActivity"
                android:windowTranslucentStatus="true"
                android:windowTranslucentNavigation="true"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                android:screenOrientation="portrait">
        </activity>


        <activity
                android:name=".ui.activity.MineReservedDotActivity"
                android:windowTranslucentStatus="true"
                android:windowTranslucentNavigation="true"
                android:screenOrientation="portrait"
        ></activity>

        <activity
                android:windowTranslucentStatus="true"
                android:windowTranslucentNavigation="true"
                android:name=".ui.activity.MineClientActivity"
                android:screenOrientation="portrait"></activity>

        <activity
                android:name=".ui.activity.MineAddClientActivity"
                android:screenOrientation="portrait"></activity>

        <activity
                android:name=".ui.activity.UploadAptitudeActivity"
                android:screenOrientation="portrait"></activity>

        <activity
                android:name=".ui.activity.MineMessageActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.MineExamineEndorseActivity"
                  android:screenOrientation="portrait"></activity>

        <activity
                android:name=".ui.activity.EditPwdActivity"
                android:screenOrientation="portrait"
        ></activity>

        <activity
                android:name=".ui.activity.MineClientDetail"
                android:screenOrientation="portrait"
        ></activity>
    </application>
</manifest>
