<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.suntray.chinapost">

    <application
            android:name=".application.ChinaPostApplication"
            android:allowBackup="true"
            android:icon="@mipmap/chinapost"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/chinapost"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 配置 url -->
        <meta-data
                android:name="CONSTANT_URL"
                android:value="${CONSTANT_URL_VALUE}" />

        <!-- 配置 打印的参数 -->
        <meta-data
                android:name="CURRENT_PRINT"
                android:value="${CURRENT_PRINT_VALUE}" />

        <meta-data
                android:name="JPUSH_PKGNAME"
                android:value="${JPUSH_PKGNAME}"
        ></meta-data>

        <meta-data
                android:name="CONSTANT_UPLOAD_URL"
                android:value="${CONSTANT_UPLOAD_URL_VALUE}" />

        <meta-data
                android:name="CONSTANT_DOWNLOAD_URL"
                android:value="${CONSTANT_URL_DOWNLOAD_VALUE}"
        ></meta-data>

        <!--目标高度-->
        <meta-data
                android:name="design_width"
                android:value="750" />

        <meta-data
                android:name="design_height"
                android:value="1334" />

        <!--文件的provider-->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${JPUSH_PKGNAME}.FileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>